
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drawings Listing</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" href="overview.php">
                            Overview
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="user_listing.php">
                            User Management
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="project_listing.php">
                            Project Management
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="drawings_listing.php">
                            Project Drawings
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                {# <h1 class="h2">Overview</h1> #}
            </div>
    <div class="container mt-5">
        <h2>Drawings Listing</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>Drawing No</th>
                    <th>Name</th>
                    <th>Status</th>
                    <th>File</th>
                    <th>Category</th>
                </tr>
            </thead>
            <tbody>
                {% for drawing in drawings %}
                    <tr>
                        <td>{{ drawing.drawing_no }}</td>
                        <td>{{ drawing.drawing_name }}</td>
                        <td>{{ drawing.status }}</td>
                        <td><a href="{{ drawing.file }}" target="_blank">Download</a></td>
                        <td>{{ drawing.category }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="drawings_form.php" class="btn btn-primary">Create New</a>
    </div>
</body>
</html>
