
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <title>Project Management</title>
</head>
<body>
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" href="overview.php">
                            Overview
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="user_listing.php">
                            User Management
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="project_listing.php">
                            Project Management
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="drawings_listing.php">
                            Project Drawings
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                {# <h1 class="h2">Overview</h1> #}
            </div>
<div class="container mt-5">
    <h2>Project Management</h2>
    <a href="create_project.php" class="btn btn-primary mb-3">Create New Project</a>
    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>Project Name</th>
                <th>Project Number</th>
                <th>Image</th>
                <th>Address</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for project in projects %}
                <tr>
                    <td>{{ project.project_id }}</td>
                    <td>{{ project.project_name }}</td>
                    <td>{{ project.project_number }}</td>
                    <td>{{ project.image }}</td>
                    <td>{{ project.address }}</td>
                    <td>{{ project.start_date }}</td>
                    <td>{{ project.end_date }}</td>
                    <td>
                        <a href="edit_project.php?id={{ project.project_id }}" class="btn btn-primary">Edit</a>
                        <a href="delete_project.php?id={{ project.project_id }}" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

</body>
</html>
