
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <title>User Management</title>
</head>
<body>
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" href="overview.php">
                            Overview
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="user_listing.php">
                            User Management
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="project_listing.php">
                            Project Management
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            Project Drawings
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                {# <h1 class="h2">Overview</h1> #}
            </div>
<div class="container mt-5">
    <h2>User Management</h2>
    <a href="index.php" class="btn btn-success mb-3">Create User</a>


    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>User Type</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.user_id }}</td>
                    <td>{{ user.first_name }}</td>
                    <td>{{ user.last_name }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.user_type }}</td>
                    <td>
                        <a href="edit_user.php?id={{ user.user_id }}" class="btn btn-primary">Edit</a>
                        <a href="delete_user.php?id={{ user.user_id }}" class="btn btn-danger">Delete</a>
                        <a href="assign_projects.php?id={{ user.user_id }}" class="btn btn-info">Assign Projects</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

</body>
</html>
